<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shubhamjitiya.mad">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".practical_15.Practical_15"
            android:exported="false" />
        <activity
            android:name=".practical_14.Practical_14"
            android:exported="false" />
        <activity
            android:name=".practical_13.Practical_13"
            android:exported="false" />
        <activity
            android:name=".practical_12.ScreenSaver"
            android:exported="false" />
        <activity
            android:name=".practical_12.Practical_12"
            android:exported="false" />
        <activity
            android:name=".practical_11.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".practical_11.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".practical_11.EditCourseActivity"
            android:exported="false" />
        <activity
            android:name=".practical_11.AddCourseActivity"
            android:exported="false" />
        <activity
            android:name=".practical_11.Practical_11"
            android:exported="false" />
        <activity
            android:name=".practical_10.Practical_10"
            android:exported="false" />
        <activity
            android:name=".practicals.Practical_9"
            android:exported="false" />
        <activity
            android:name=".practicals.NewCourseActivity"
            android:exported="false" />
        <activity
            android:name=".practicals.Practical_8"
            android:exported="false" />
        <activity
            android:name=".practicals.Practical_7"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".practical_12.util.ScreenOnOffService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_KEY_HERE" />
    </application>

</manifest>